:root {
    --branding-color: #7DBFCC;
    --secondary-color: #2A8396;
    --accent-color: #AAB191;
    --primary-font: 'Birthstone', cursive;
    --secondary-font: 'Montserrat', sans-serif;
}
h1 {color: white;
    font-family: var(--primary-font);
    font-size: 96px;
    text-align: center;
}
h2 {
    color: white;
    font-family: var(--secondary-font);
    font-size: 24px;
    text-align: center;
}
img {
    border-radius: 5px;
}
.page-header {
    background: var(--branding-color);
    padding: 75px;
}

.sub-header {
    background: var(--accent-color);
    color: white;
    text-align: center;
    font-size: 24px;
font-weight: bold;
font-family: var(--secondary-font);
padding: 30px;
}
.body-header {
    font-size: 24px;
    font-family: var(--secondary-font);
    font-weight: bold;
}
.project-link {
    color: white;
    background: var(--secondary-color);
    padding: 15px;
    border-radius: 5px;
    font-family: var(--secondary-font);
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
    transition: 200ms;
}
.project-link:hover {
opacity: .7;
color: white;
}

.small-project-link {
    color: white;
    background: var(--secondary-color);
    padding: 15px;
    border-radius: 5px;
    font-family: var(--secondary-font);
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
    transition: 200ms;
}
.small-project-link:hover {
    color: white;
    opacity: .7;
}
.body-text {
    font-family: var(--secondary-font);
    font-size: 18px;
}
.about-header {
    color: var(--accent-color);
    font-family: var(--primary-font);
    font-size: 60px;
}
.about-text {
    font-family: var(--secondary-font);
    font-size: 18px;
}
.contact-header {
    font-family: var(--secondary-font);
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}
.contact-info {
    text-align: center;
}
.contact-info a {
    color: black;
    text-decoration: none;
}
.contact-info a:hover {
    opacity: .7;
}
.contact-icon {
    background: var(--secondary-color);
    color: white;
    padding: 10px 14px;
    border-radius: 50%;
font-size: 20px;
text-align: center;
margin: 0px 20px;
transition: 200ms;
}
.contact-icon:hover {
    opacity: .7;
}
.footer {
    text-align: center;
}
.footer a {
    color: white;
}
.codeLink {
    font-family: var(--secondary-font);
    text-align: center;
    font-size: 14px;
}
@media (max-width: 576px) {
    .homepage-image {display: none;
    }
    .body-header {
        text-align: center;
    }
    .body-text {
        text-align: center;
    }
    .project-link {
        display: none;
    }
    .small-project-link {
        margin-bottom: 30px;
    }
    .page-header h1 {
        line-height: 1;
    }
}
@media (min-width: 576px) {
    .small-project-link {
        display: none;
    }
}