:root {
    --branding-color: #7DBFCC;
    --secondary-color: #2A8396;
    --accent-color: #AAB191;
    --primary-font: 'Birthstone', cursive;
    --secondary-font: 'Montserrat', sans-serif;
}
h1 {color: white;
    font-family: var(--primary-font);
    font-size: 96px;
    text-align: center;
    margin-top: 100px;
}
h2 {
    color: white;
    font-family: var(--secondary-font);
    font-size: 24px;
    text-align: center;
}
img {
    border-radius: 5px;
}
.page-header {
    background: var(--branding-color);
    padding: 100px;
}

.sub-header {
    background: var(--accent-color);
    color: white;
    text-align: center;
    font-size: 24px;
font-weight: bold;
font-family: var(--secondary-font);
padding: 50px;
}
.body-header {
    font-size: 24px;
    font-family: var(--secondary-font);
}